{{#extends 'base'}}

{{#block 'content'}}

<div class="index2 px-2">

    <table class=" sm:bg-white rounded-lg overflow-hidden sm:shadow-lg p-2">
        <thead>
            <tr
                class="bg-blue-200 font-serif text-gray-800 flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                <th class="border" style="text-align:center">Product ID</th>
                <th class="border" style=" text-align:center">Order ID</th>
                <th class="border" style="width: 180px; text-align:center">Name of Bed</th>
                <th class="border" style="width: 180px; text-align:center">Bed Size</th>
                <th class="border" style="width: 180px; text-align:center">Frame Colour</th>
                <th class="border" style="width: 180px; text-align:center">Bed Orientation</th>
                <th class="border" style="width: 180px; text-align:center">Mattress Type</th>
                <th class="border" style=" text-align:center">Quantity</th>
                <th class="border" style="width: 150px; text-align:center">Cost</th>
                <th class="border" style="text-align:center">Wood Colours</th>
                <th class="border" style="text-align:center">Payment Status</th>

            </tr>

        </thead>
        <tbody class="productindex">
            {{#each orders}}
            <tr>
                <td class="border hover:bg-gray-100" style="width: 50px; text-align:center">
                    {{this.id}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.order_id}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.wallBed.name}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.bedSize.name}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.frameColour.name}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.bedOrientation.name}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.mattressType.name}}
                </td>
                </td>
                <td style="text-align:center" class="border hover:bg-gray-100 pb-4 pt-3 px-2">
                    {{this.quantity}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    ${{this.cost}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.woodColour.name}}
                </td>
                <td class="border hover:bg-gray-100" style="text-align:center">
                    {{this.status.name}}
                </td>

            </tr>

            {{/each}}

        </tbody>
    </table>
    <a href="/" class="btn btn-success btn-sm mb-4 mt-3">Back to Home</a>

    {{/block}}

    {{/extends}}