{{#extends 'base'}}

{{#block 'content'}}
<table class=" sm:bg-white rounded-lg overflow-hidden sm:shadow-lg " >
    <thead>
        <tr class="bg-blue-200 font-serif text-gray-800 flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
            <th style="text-align:center" >ID</th>
            <th style="width: 150px; text-align:center">Name</th>
            <th style="width: 120px; text-align:center">Weight</th>
            <th style="width: 600px; text-align:center">Description</th>
            <th style="width: 100px; text-align:center">Stock</th>
            <th style="text-align:center">Date Created</th>
            <th style="width: 120px ; text-align:center">Bed Size</th>
            <th style="width: 120px ; text-align:center">Mattress Type</th>
            <th style="width: 150px; text-align:center">Bed Orientation</th>
            <th style="text-align:center">Frame Colour</th>
            <th style="width: 100px; text-align:center">Wood Panel Colours</th>
            <th style="width: 120px; text-align:center">Cost in dollars</th>
            <th style="width: 800px; text-align:center">Image</th>
            <th></th>
            
        </tr>

    </thead>
    <tbody>
        {{#each products}}
        <tr >
            <td style="width: 50px; text-align:center">
                {{this.id}}
            </td>
            <td>
                {{this.name}}
            </td>
            <td style="text-align:center">
                {{this.weight}}kg
            </td>
            <td style="text-align:center" class="pb-4 pt-3">
                {{this.description}}
            </td>
            <td style="text-align:center">
                {{this.stock}}
            </td>
            <td>
                {{this.date}}
            </td>
            <td style="text-align:center">
                {{this.bedSize.name}}
            </td>
            <td style="text-align:center">
                {{this.mattressType.name}}
            </td>
            <td style="text-align:center">
                {{this.bedOrientation.name}}
            </td>
            
            <td style="text-align:center">
                {{this.frameColour.name}}
            </td>
            
            <td style="text-align:center"> 
                {{#each this.woodColour}} 
                    <span class="badge bg-primary">{{this.name}}</span> 
                {{/each}}
            </td>
            <td style="text-align:center">
                ${{this.cost}}
            </td>
            <td>
            <img class="img p-3" style="width:100%"; src="{{this.image_url}}"/>
            </td>

            <td class="img px-2">
                <a href="/cart/{{this.id}}/add" class="btn btn-success btn-sm" style="width: 90px">Add to cart</a>
                <br /><br />
                <a href="/update/{{this.id}}" class="btn btn-primary btn-sm" >Update</a>
                <br /><br />
                <a href="/delete/{{this.id}}" class="btn btn-danger btn-sm" >Delete</a>
            </td>
        </tr>

        {{/each}}

    </tbody>
</table>
<a href="/" class="btn btn-success btn-sm mb-4 mt-3">Back to Home</a>

{{/block}}

{{/extends}}