{{#extends 'base'}}

{{#block 'content'}}


<div class="container">
    <div class="row">

        <div class="col-sm">
            <b>
                <p style="font-size: 20px;">Search Wall Beds</p>
            </b>

            <form method="GET">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <h3 class="m-1 mt-3 pl-3 font-serif font-bold">Advanced Filter: </h3>
                <div class="m-1 pl-3 pr-2 flex">
                    <button type="submit" class="text-white bg-green-400 active:bg-green-700 px-2 rounded-3">Filter
                        Wall Beds</button>
                    <a href="/" class="btn btn-primary bg-yellow-400 active:bg-blue-700 px-2 ml-2 rounded-3">Reset</a>
                </div>
                <div class="m-1 pl-3 pr-2 font-light text-sm">Enter filter and click
                    <b>Filter Wall Beds</b>
                    to filter. Click
                    <b>Reset</b>
                    to reset filters.
                </div>

                {{{searchForm}}}

                <input type="submit" class="btn btn-primary btn-sm my-3" value="Search" />
            </form>

        </div>

        <div class="col-10">

            <table class="w-full sm:bg-white rounded-lg overflow-hidden sm:shadow-lg">

                <thead >
                    <tr class="bg-blue-200 font-serif text-gray-800 flex flex-col flex-nowrap sm:table-row rounded-l-lg sm:rounded-none mb-2 sm:mb-0">
                        <th style="text-align:center">ID</th>
                        <th style="width: 150px; text-align:center">Name</th>
                        <th style="text-align:center">Weight</th>
                        <th style="width: 120px; text-align:center" class="ps-4">Description</th>
                        <th style="width: 100px; text-align:center">Stock</th>
                        <th style="text-align:center">Date Created</th>
                        <th style="width: 100px ; text-align:center">Bed Size</th>
                        <th style="width: 120px ; text-align:center">Mattress Type</th>
                        <th style="width: 150px">Bed Orientation</th>
                        <th style="text-align:center">Frame Colour</th>
                        <th style="width: 100px ; text-align:center">Wood Panel Colours</th>
                        <th style="width: 120px; text-align:center">Cost in dollars</th>
                        <th style="width: 300px; text-align:center">Image</th>
                        <th></th>
                    </tr >

                </thead>
                <tbody>
                    {{#each products}}
                    <tr >
                        <td style="width: 50px; text-align:center">
                            {{this.id}}
                        </td>
                        <td>
                            {{this.name}}
                        </td>
                        <td style="text-align:center">
                            {{this.weight}}kg
                        </td>
                        <td class="ps-4">
                            {{this.description}}
                        </td>
                        <td style="text-align:center">
                            {{this.stock}}
                        </td>
                        <td>
                            {{this.date}}
                        </td>
                        <td style="text-align:center">
                            {{this.bedSize.name}}
                        </td>
                        <td style="text-align:center">
                            {{this.mattressType.name}}
                        </td>
                        <td style="text-align:center">
                            {{this.bedOrientation.name}}
                        </td>

                        <td>
                            {{this.frameColour.name}}
                        </td>

                        <td style="text-align:center">
                            {{#each this.woodColour}}
                            <span class="badge bg-success">{{this.name}}</span>
                            {{/each}}
                        </td>
                        <td style="text-align:center">
                            ${{this.cost}}
                        </td>
                        <td>
                            <img class="img-fluid p-2" src="{{this.image_url}}" />
                        </td>

                        <td>
                            <a href="/update/{{this.id}}" class="btn btn-primary btn-sm">Update</a>
                            <br /><br />
                            <a href="/delete/{{this.id}}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>

                    {{/each}}

                </tbody>
            </table>

        </div>
    </div>
</div>
{{/block}}

{{/extends}}